<div class="artist-wrapper" style="margin-bottom:30px;margin-top:75px">
  <div class="card">
    <div class="artist-thumbnail">
      <img src="../../assets/artists/Jim-Mckee.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title">Jim Mckee</h5>
    <h6 class="card-subtitle mb-2 text-muted">Artist</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
      <span><i class="fa fa-facebook"></i></span>
      <span><i class="fa fa-twitter"></i></span>
      <span><i class="fa fa-instagram"></i></span>
    </div>
    
    
    
  </div>
</div>