<div class="nav-side-menu" >
    <div class="brand">GCG</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out col-sm-12">
            <!-- <li class="col-sm-12" >
                <a >
                <i class="fa fa-dashboard fa-lg"></i> <span>Dashboard</span>
                </a>
              </li> -->
              <li class="col-sm-12" routerLink="event">
                <a >
                <i class="fa fa-calendar fa-lg"></i> <span>Events</span>
                </a>
              </li>
              <li class="col-sm-12" routerLink='category'>
                <a>
                <i class="fa fa-cubes fa-lg"></i> <span>Category</span>
                </a>
              </li>
              <li class="col-sm-12" routerLink='gallery'>
                <a>
                <i class="fa fa-image fa-lg"></i> <span>Gallery</span>
                </a>
              </li>
              <li class="col-sm-12" routerLink='shop-manager'>
                <a>
                <i class="fa fa-cart-plus fa-lg"></i> <span>Shop</span>    
                </a>
              </li>
              <li class="col-sm-12" routerLink='user-manager'>
                <a >
                <i class="fa fa-user fa-lg"></i> <span>User</span> 
                </a>
              </li>
              <li class="col-sm-12" routerLink='venue-manager'>
                <a >
                <i class="fa fa-map-marker fa-lg"></i> <span>Venue hire</span> 
                </a>
              </li>
              <li class="col-sm-12" routerLink='info'>
                <a >
                <i class="fa fa-info fa-lg"></i> <span>Info</span>
                </a>
              </li>
        </ul>
          
    </div>
</div>
