<footer id="footer-section" class="diagonal" style="background-color: #333333;" *ngIf="footer.visible">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="basic-info clearfix">
                    <div class="row">
                        <!-- location -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="basic-info-item">
                                <span class="icon">
                                    <i class="fa fa-map-marker"></i>
                                    <!-- <fa name="map-marker"></fa> -->
                                </span>
                                <div class="info-content">
                                  <p>15 Dock Streets</p>
                                  <h3>Galway, Ireland</h3>  
                                </div>
                            </div>
                        </div>
                        <!-- email info -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="basic-info-item">
                                <span class="icon">
                                    <i class="fa fa-envelope"></i>
                                    <!-- <fa name="envelope"></fa> -->
                                </span>
                                <div class="info-content">
                                  <!-- <p>Email info</p> -->
                                  <h3>galwaycitygallery1@gmail.com
                                  </h3>  
                                </div>
                            </div>
                        </div>
                        <!-- contact info -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="basic-info-item">
                                <span class="icon">
                                    <i class="fa fa-phone"></i>
                                    <!-- <fa name="phone"></fa> -->
                                </span>
                                <div class="info-content">
                                    <p> </p>
                                  <!-- <p>Contact info</p> -->
                                  <h3>XXX XXX XXXX</h3>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-logo-wrapper">
                <!-- add logo linke here -->
            </div>
            <p style="margin-bottom: 30px;"></p>
            <div class="social-media-links">
                <h3 class="social-title">network</h3>
                <ul style="list-style: none;margin:0px;padding: 0px;margin-bottom: 15px;">
                    <li>
                        <a href="https://www.facebook.com/galwaycitygallery/">
                            <i class="fa fa-facebook"></i>
                            <!-- <fa name='facebook'></fa> -->
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/galway_gallery">
                            <i class="fa fa-twitter"></i>
                            <!-- <fa name='twitter'></fa> -->
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/galwaycitygallery/">
                            <i class="fa fa-instagram"></i>
                            <!-- <fa name='instagram'></fa> -->
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>