<section class="venue-hire-section">
    <div class="jarallax" >
        <div style="background-color:black;padding:100px 0px">
            <div style="margin-bottom: 50px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="p-relative text-left" >
                                <span class="line-style" style="top:-15px"></span>
                                <small class="sub-title">GCG Venue</small>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="venue-location">
                                <ul style="list-style: none;">
                                    <li class="country">
                                        <form action="#!">
                                            <label for="country">Country :</label>
                                            <select class="custom-select" id="country">
                                                <option selected="">Ireland</option>
                                                <option value="1">USA</option>
                                                <option value="2">england</option>
                                                <option value="3">germany</option>
                                            </select>	
                                        </form>
                                    </li>
                                    <li class="city">
                                        <form action="#!">
                                            <label for="city">City :</label>
                                            <select class="custom-select" id="city">
                                                <option selected="">Galway</option>
                                                <option value="1">USA</option>
                                                <option value="2">england</option>
                                                <option value="3">germany</option>
                                            </select>	
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="tab-wrapper">
                <div class="container">
                    <div class="row justify-content-lg-start">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="tab-menu">
                                <ul class="nav tab-nav" style="margin-bottom:30px;">
                                    <li class="nav-item">
                                        <a href="" class="nav-link" data-toggle="tab" aria-expanded="true">
                                            <span class="image">
                                                <img src=".././../assets/1.jpg" alt="">
                                            </span>
                                            <span class="title d-block">
                                                <strong>15, New Dock</strong>
                                            </span>
                                            <small class="sub-title">Art Gallery</small>
                                            <p class="d-block text-justify">
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam quam fugiat repudiandae voluptate ratione accusantium assumenda quidem autem laudantium. Doloremque soluta deleniti voluptatum laborum enim delectus, aliquid reprehenderit. Commodi, aperiam.
                                            </p>
                                        </a>
                                        
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a href="" class="nav-link" data-toggle="tab" aria-expanded="true">
                                            <span class="image">
                                                <img src=".././../assets/1.jpg" alt="">
                                            </span>
                                            <span class="title d-block">
                                                <strong>15, New Dock</strong>
                                            </span>
                                            <small class="sub-title">Art Gallery</small>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link" data-toggle="tab" aria-expanded="true">
                                            <span class="image">
                                                <img src=".././../assets/1.jpg" alt="">
                                            </span>
                                            <span class="title d-block">
                                                <strong>15, New Dock</strong>
                                            </span>
                                            <small class="sub-title">Art Gallery</small>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link" data-toggle="tab" aria-expanded="true">
                                            <span class="image">
                                                <img src=".././../assets/1.jpg" alt="">
                                            </span>
                                            <span class="title d-block">
                                                <strong>15, New Dock</strong>
                                            </span>
                                            <small class="sub-title">Art Gallery</small>
                                        </a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 ">
                            <!-- <img src="../../assets/2.jpg" alt=""> -->
                            <div class="tab-content w-100" style="height: 424px;">
                                <app-carousel-holder></app-carousel-holder>
                            
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>