<app-top-header></app-top-header>
<section class="about-section clearfix" style="padding-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 about-us">
                <div class="section-title text-left " style="margin-bottom:30px;">
                    <span class="line-style"></span>
                    <small class="sub-title">We are GCG</small>
                    <!-- <h2 class="big-title">Galway City Gallery</h2> -->
                    
                    <div class="mt-2">
                        <img style="max-width: 400px;" src="../../assets/uploads/venues/4/door.jpg" alt="">
                    </div>
                    <div style="color: black; margin-top: 10px;text-align: justify;">
                        <h3>Galway City Gallery is a contemporary art gallery sited in the heart of Galway City near the Docks close to the museum / Spanish arch. 

                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="about-item-wrapper">
                    <ul class="col-lg-12 col-md-12 col-sm-12">
                        <li class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#!" class="about-item">
                                <span class="icon">
                                    <!-- <fa-icon name="handshake"></fa> -->
                                    <fa-icon [icon]="faHandshake" ></fa-icon>
                                </span>
                                <strong class="title"> Friendly Team</strong>
                                <small class="sub-title">
                                    Talkactive and helpful
                                </small>
                            </a>
                        </li>
                        <li class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#!" class="about-item">
                                <span class="icon">
                                    <fa-icon [icon]="faPlaceOfWorship"></fa-icon>
                                </span>
                                <strong class="title"> Perfect Venues</strong>
                                <small class="sub-title">
                                    Perfect Venues           
                                </small>
                            </a>
                        </li>
                        <li class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#!" class="about-item">
                                <span class="icon">
                                    <!-- <fa name="handshake"></fa> -->
                                    <!-- <i class="far fa-handshake"></i> -->
                                    <fa-icon [icon]="faClock"></fa-icon>
                                </span>
                                <strong class="title"> Memorable Time</strong>
                                <small class="sub-title">
                                    We make you perfect event
                                </small>
                            </a>
                        </li>
                        <li class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#!" class="about-item">
                                <span class="icon">
                                    <!-- <fa name="handshake"></fa> -->
                                    <!-- <i class="far fa-handshake"></i> -->
                                    <fa-icon [icon]="faLightBulb"></fa-icon>
                                </span>
                                <strong class="title"> Brilliant idea</strong>
                                <small class="sub-title">
                                    We have million idea
                                </small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>      
        </div>
    </div>
</section>

<app-footer></app-footer>