<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" routerLink="/home">GCG</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item" id="home">
          <a class="nav-link js-scroll-trigger" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" id="event"> 
          <a class="nav-link js-scroll-trigger" routerLink='/event-list'>Events</a>
        </li>
        <li class="nav-item" id="gallery">
          <a class="nav-link js-scroll-trigger" routerLink='/gallery'>gallery</a>
        </li>
        <li class="nav-item" id="shop">
          <a class="nav-link js-scroll-trigger" routerLink='/shop'>Shop</a>
        </li>
        <li class="nav-item" id="venue">
          <a class="nav-link js-scroll-trigger" routerLink='/venue-hire'>Venue</a>
        </li>
        <li class="nav-item" id="about">
          <a class="nav-link js-scroll-trigger" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/cart"><i class="fa fa-cart-plus fa-lg"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light w-100" *ngIf="nav.visible">
  <a routerLink="home" class="navbar-brand">
    <img src="../../assets/logo.png" alt="" height="30px" width="30">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggler navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menuItems">
    <ul class="navbar-nav ml-auto">
       <li class="nav-item" >
         <a routerLinkActive="home" routerLink="home" class="nav-link">Home</a>
       </li>
       <li class="nav-item">
         <a routerLink="event-list" routerLinkActive="event-list" class="nav-link">Events</a>
       </li>
       <li class="nav-item">
         <a routerLink="gallery" routerLinkActive="gallery" class="nav-link">Gallery</a>
       </li>
       
       <li class="nav-item">
         <a routerLink="venue-hire" routerLinkActive="venue-hire" class="nav-link">Venue-hire</a>
       </li>
       <li class="nav-item">
         <a routerLink="about" routerLinkActive="about" class="nav-link">About</a>
       </li>
      <li class="nav-item dropdown">
          <a href="" class="nav-link dropdown-toggle" id="userModeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           
          </a>
          <div class="dropdown-menu" aria-labelledby="userModeDropdown" routerLinkActive='userMode' style="min-width:auto;">
              <a href="" class="dropdown-item" id="admin" routerLink="admin">Admin</a>
              <a href="" class="dropdown-item" id="user" routerLink="/home">User</a>
          </div>
      </li>
    </ul>
    <ul></ul>
  </div>
</nav>
 -->
