<div class="container-fluid w-100">
    <div class="header">Gallery Manager</div>
    <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#galleryModal">
        Add
      </button>
      <!-- modal add image -->
      <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="galleryModalLabel">Upload Image(s)</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="galleryForm" (submit)="uploadImages()">
                    <div class="form-group col input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Events </div>
                        </div>
                        <select class="form-group custom-select" formControlName="eventId">
                          <option *ngFor="let event of eventList" value="{{event.eventId}}">{{event.eventName}}</option>   
                        </select>
                    </div>
                    <div class="form-group col">
                        <!-- <div class="input-group-prepend">
                            <div class="input-group-text">Upload Image(s)</div>
                        </div> -->
                        <label for="uploadImage"> Upload Image(s) :</label>
                        <input formControlName="uploadImage" type="file" id="uploadImage" (change)="onFileSeleted($event)"/>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>
      <!-- add images modal end -->

      <section class="bg-light page-section " id="portfolio" style="padding: 10px 0;">
        <div class="container">
          <div class="row" >
            <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item" *ngFor="let event of eventList">
              <div class="portfolio-link align-items-center" data-toggle="modal" href="#portfolioModal1" style="height: 280px;overflow: hidden;">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <!-- {{event.description}} -->
                    <!-- <i class="fa-plus-square fa-3x"></i> -->
                  </div>
                </div>
                <!-- <iframe src="" frameborder="0"></iframe> -->
                <img class="img-fluid" src="http://18.202.20.201/uploads/events/{{event.eventId}}/event.jpg" alt="{{event.eventName}}">
              </div>
              <div class="portfolio-caption">
                <h4 ><strong>{{event.eventName}}</strong></h4>
                <p class="text-muted">{{event.startDate | date :'mediumDate'}} - {{event.endDate | date :'mediumDate'}}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
