.btn-primary{
    background : #fed136;
    border-color: #fed136;
}

.home{
    width: 100%;
    height: 100%;
    
}
.home .info img{
    	// background-image: url(../../assets/images/index-background.jpg);
        background-size: cover;
        height: 500px;
        width: 100%;
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
}

.info-header{
    font-size:3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
}
.info-content{
    text-align:justify;
    position:absolute;
    bottom:8px;
    right:16px;
    top:72%;
    left:40%;
    color:white;
    font-size:1.5vw;
}
.section-heading{
    font-size:3vw;
    padding: 0 2rem;
}
.carousel-item{
    filter: grayscale(1);
    // filter: brightness(1);
}
.gallery-section{
    width: 100%;
    height: 400px;
    padding-left: 50px;
    padding-right: 50px;
}

@media only screen and (max-width: 768px){
    .gallery-section{
        padding:10px;
    }
}

// .event-search{
//     // opacity: 0;
//     padding-top: 15px;
//     background: -webkit-gradient(linear, left top, right bottom, from(#ffbe30), to(#ff3e00));
//     background: -webkit-linear-gradient(top left, #ffbe30, #ff3e00);
//     background: -o-linear-gradient(top left, #ffbe30, #ff3e00);
//     background: linear-gradient(to top left, #ffbe30, #ff3e00);
//     // background: linear-gradient(to bottom right, #000b18, #0052a2);
// }
// .event-search-title{
//     position: relative;
// }

// .sub-title{
//     color: #ffffff;
//     letter-spacing: 1.5px;
//     font-size: 14px;
//     margin-bottom: 15px;
//     text-transform: uppercase;
// }
// .big-title{
//     margin: 0px;
//     padding: 0px;
//     font-size: 48px;
//     font-weight: 400;
//     color: #fff;
// }

// .search-form ul{
//     width: 100%;
//     margin: 0px;
//     padding: 0px;
//     display: table;
// }
// .form-wrapper .form-item{
//     width: 100%;
//     height: 50px;
//     display: table;
//     position: relative;
// }
// .search-form ul{
//     width: 100%;
//     margin: 0px;
//     padding: 0px;
//     display: table;
// }
// .search-form form ul li{
//     // width: 32.877%;
//     list-style: none;
//     // margin-right: 5px;
//     display: inline-block;
//     margin-bottom: 30px;
// }
// .title{
//     margin-bottom: 15px;
//     color: #ffffff;
//     font-size: 14px;
//     line-height: normal;
//     display: inline-block;
//     text-transform: uppercase;
// }
// .form-wrapper .form-item{
//     width: 100%;
//     height: 50px;
//     display: table;
//     position: relative;
// }
// .form-wrapper .form-item input{
//     width: 100%;
//     height: 100%;
//     display: block;
//     padding: 0px 25px;
//     background-color: #f7f7f7;
//     border: 1px solid #f0f0f0;
//     -webkit-transition: all .3s ease-in-out;
//     -o-transition: all .3s ease-in-out;
//     transition: all .3s ease-in-out;
// }
// .event-category-dropdown{
//     width: 100%;
//     height: 50px;
//     border: none;
//     font-weight: 600;
//     padding: 0px 20px;
//     border-radius: 3px;
//     -webkit-appearance: none;
// }
// .submit-btn{
//     width: 100%;
//     height: 50px;
//     margin-bottom: 30px ;
//      margin-top: 47px;
//     font-weight: 700;
//     padding: 0px 20px;
//     text-align: center;
//     border-radius: 3px;
//     color: #ffffff;
//     text-transform: uppercase;
//     background-color: #000518;
//     position: absolute;

// }


// @media screen and (max-width: 991px){
//     .event-search-title{
//         text-align: center!important;
//         margin-bottom: 50px;
//     }
// }
// @media screen and (max-width:1199px){
//     .big-title{
//         font-size: 36px;
//     }
// }

// @media screen and (max-width:480px){
//     .search-form form ul li{
//         width: 100%;
//         margin: 0px;
//     }
//     .submit-btn{
//         position: relative;
//         margin-top:32.877px;
//     }
    
// }

// masthead layout
// Styling for the masthead
header.masthead {
    text-align: center;
    color: white;
    // background-color: red;
    background-image: url('../../../assets/index.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    .intro-text {
      padding-top: 150px;
      padding-bottom: 100px;
      .intro-lead-in {
        font-size: 22px;
        font-style: italic;
        line-height: 22px;
        margin-bottom: 25px;
        text-shadow: 2px 2px 4px #000;
        // @include serif-font;
      }
      .intro-heading {
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 25px;
        text-shadow: 2px 2px 4px #000;
        // @include heading-font;
      }
    }
  }
  @media(min-width:768px) {
    header.masthead {
      .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
        .intro-lead-in {
          font-size: 40px;
          font-style: italic;
          line-height: 40px;
          margin-bottom: 25px;
        //   @include serif-font;
        }
        .intro-heading {
          font-size: 75px;
          font-weight: 700;
          line-height: 75px;
          margin-bottom: 50px;
        //   @include heading-font;
        }
      }
    }
  }
  
.scene {
    border: 1px solid #CCC;
    margin: 40px 0;
    position: relative;
    width: 210px;
    height: 140px;
    margin: 80px auto;
    perspective: 1000px;
  }
  
  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  .carousel__cell img{
      width: 190px;
      height: 120px;
  }
  .carousel__cell {
    position: absolute;
    width: 190px;
    height: 120px;
    left: 10px;
    top: 10px;
    border: 2px solid black;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: transform 1s, opacity 1s;
  }
  
  .carousel__cell:nth-child(9n+1) { background: hsla(  0, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+2) { background: hsla( 40, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+3) { background: hsla( 80, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+4) { background: hsla(120, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+5) { background: hsla(160, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+6) { background: hsla(200, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+7) { background: hsla(240, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+8) { background: hsla(280, 100%, 50%, 0.8); }
  .carousel__cell:nth-child(9n+0) { background: hsla(320, 100%, 50%, 0.8); }
  
  .carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
  .carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
  .carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
  .carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
  .carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
  .carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
  .carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
  .carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
  .carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }
  
  
  .carousel-options {
    text-align: center;
    position: relative;
    z-index: 2;
    background: hsla(0, 0%, 100%, 0.8);
  }


.seemore{
    margin: auto;
}
@media screen and (min-width:768px){
    .seemore{
        margin:65px 0px;    
}
}
// events 
// Styling for the timeline section
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 40px;
      width: 2px;
      margin-left: -1.5px;
      content: '';
      background-color: gray;
    }
    > li {
      position: relative;
      min-height: 50px;
      margin-bottom: 50px;
      &:after,
      &:before {
        display: table;
        content: ' ';
      }
      &:after {
        clear: both;
      }
      .timeline-panel {
        position: relative;
        float: right;
        width: 100%;
        padding: 0 20px 0 100px;
        text-align: left;
        &:before {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;
        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
      .timeline-image {
        position: absolute;
        z-index: 100;
        left: 0;
        width: 80px;
        height: 80px;
        margin-left: 0;
        text-align: center;
        color: white;
        border: 7px solid gray;
        border-radius: 100%;
        background-color: #333333;
        h4 {
          font-size: 10px;
          line-height: 14px;
          margin-top: 12px;
        }
      }
      &.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 20px 0 100px;
        text-align: left;
        &:before {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;
        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .timeline-heading {
      h4 {
        margin-top: 0;
        color: inherit;
        &.subheading {
          text-transform: none;
        }
      }
    }
    
    .timeline-body {
        text-align: justify;
       > ul,
      > p {
        margin-bottom: 0;
      }
    }
  }
  @media(min-width:768px) {
    .timeline {
      &:before {
        left: 50%;
      }
      > li {
        min-height: 100px;
        margin-bottom: 100px;
        .timeline-panel {
          float: left;
          width: 41%;
          padding: 0 20px 20px 30px;
          text-align: right;
        }
        .timeline-image {
          left: 50%;
          width: 100px;
          height: 100px;
          margin-left: -50px;
          h4 {
            font-size: 13px;
            line-height: 18px;
            margin-top: 16px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          float: right;
          padding: 0 30px 20px 20px;
          text-align: left;
        }
      }
    }
  }
  @media(min-width:992px) {
    .timeline {
      > li {
        min-height: 150px;
        .timeline-panel {
          padding: 0 20px 20px;
        }
        .timeline-image {
          width: 150px;
          height: 150px;
          margin-left: -75px;
          h4 {
            font-size: 18px;
            line-height: 26px;
            margin-top: 30px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          padding: 0 20px 20px;
        }
      }
    }
  }
  @media(min-width:1200px) {
    .timeline {
      > li {
        min-height: 170px;
        .timeline-panel {
          padding: 0 20px 20px 100px;
        }
        .timeline-image {
          width: 170px;
          height: 170px;
          margin-left: -85px;
          h4 {
            margin-top: 40px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          padding: 0 100px 20px 20px;
        }
      }
    }
  }
  .page-section {
    padding: 100px 0;
    h2.section-heading {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
    }
    h3.section-subheading {
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 75px;
      text-transform: none;
    //   @include serif-font;
    }
  }