<div class="container-fluid w-100">
    <div class="header">Info Manager</div>
    <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <div class="col-sm-12">
                <form >
                    <div class="row m-2">
                        
                        
                        <div class="form-group col-sm-4 input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Email </div>
                                <input type="email" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Contact </div>
                                <input type="tel" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Facebook </div>
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Twitter </div>
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Instagram </div>
                                <input type="text" minlength="20" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Description </div>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        <button type="button" class="btn col btn-primary mr-auto">Save</button> 
                    </div>
                </form>
            </div>
        </mat-card-content>
        
      </mat-card>
    
</div>