ng-template{
    height:380px;
    width:500px;
    overflow: hidden;
}
owl-carousel-o{
    width: 500px;
    height: 380px;
}
.ng-star-inserted{
    width: 100%;
    height: 380px;
}
/*
.owl-stage{
    transform: translate3d(-500px, 0px, 0px);
     transition: all 1s ease 0s;
      width: 3500px;
}
.owl-carousel .owl-item img{
    width: 100%;
    height: 380px;
    display: block;
}
.owl-nav{
    top: 0;
    right: 0;
    width: auto;
    padding: 10px;
    position: absolute;
}

.owl-prev, .owl-next{
    margin: 0px;
    width: 35px;
    margin: 5px;
    height: 35px;
    padding: 0px;
    overflow: hidden;
    position: relative;
    color: transparent;
    border-radius: 100%;
    background: transparent;
}
.item{
    height:380px;
    overflow: hidden;
}*/