<app-top-header></app-top-header>
<div class="container-fluid w-100" style="margin-top: 100px;margin-bottom: 50px;">
    <div class="col-sm-12 w-100">
        <div class="row w-100 m-0">
            <div class="card mb-3 w-100 col-sm-12 col-md-12 col-lg-6 m-auto p-1" *ngFor="let venue of venueList">
                <img class="card-img-top" src="http://18.202.20.201/uploads/venues/{{venue.venueId}}/venue.jpg" alt="Card image cap" style="max-height: 350px;">
                <div class="card-body">
                  <h1 class="card-title">{{venue.venueName}}</h1>
                  <p class="card-text">{{venue.description}}</p>
                  <!-- <p class="card-text"><small class="text-muted">{{venue.street}}, &nbsp;{{venue.city}},&nbsp;{{venue.country}}</small></p> -->
                  <p><i class="fa fa-phone"> {{venue.contact}}</i></p>
                  <p><i class="fa fa-envelope"></i> {{venue.emailId}}</p>
                  <p ><i class="fa fa-map-marker"></i> {{venue.street}}, &nbsp;{{venue.city}},&nbsp;{{venue.country}}</p>
                
                </div>
              </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
